extends ../layout

block content
  head
  title Polls List
  style.
    h1 {
    text-align: center;
    margin-top: 30px;
    }
    .polls-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
    //- background-color: #22A699;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .poll-item {
    border: 3px solid #4A55A2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #A0BFE0;
    }
    .poll-item:hover {
    border: 5px solid #4A55A2;
    }
    .poll-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    .poll-options {
    font-size: 16px;
    }
    .poll-created-by {
    font-size: 14px;
    color: #4A55A2;
    }
  .polls-container
    .row
      .col
        h1= title
      .col
        h1
          a.btn.btn-outline-primary(href='/poll/new')
            | Create Poll
    each poll in polls.sort(poll => poll.active ? -1 : 1)
      .poll-item
        p.poll-question= poll.question
        p.poll-options Options: <b>#{poll.options.map((option) => option.optionText).join(', ')}</b>
        p.poll-created-by Created by: 
          b #{poll.createdBy.profile.name}
        .div.gap-4.d-grid.d-md-flex
          p.poll-option Total Votes: 
            b #{poll.options.reduce((sum, option) => sum + option.votes, 0)}
          p.poll-option Status: 
            b #{poll.active ? 'Active' : 'Closed'}
        a.btn.btn-outline-primary(href='/poll/id/' + poll._id) View Poll

