extends ../layout

block content
  style.
    h1 {
    text-align: center;
    margin-top: 30px;
    color: #4A55A2;
    }
    .poll-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #4A55A2;
    background-color: #A0BFE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .poll-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    .poll-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
    .poll-option input[type="radio"] {
    margin-right: 10px;
    }
    .poll-option label {
    font-size: 16px;
    }
    .poll-submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    }
    .poll-submit:hover {
    background-color: #0056b3;
    }
    .poll-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .poll-votes {
      margin-right: 10px;
    }

    .progress-bar {
      width: 150px;
      height: 18px;
      background-color: #f2f2f2;
      border-radius: 5px;
      overflow: hidden;
    }

    .progress-bar-fill {
      height: 100%;
      background-color: #C5DFF8;
      border-radius: 5px;
      color: #4A55A2;
      text-align: center;
      line-height: 18px;
      font-size: 12px;
      transition: width 0.3s ease;
    }

  .poll-container
    form(action='/poll/id/' + poll._id + '/vote', method='POST')
      p.poll-question= poll.question
      if poll.options.length < 1
        h3 No options for this poll yet
      else
        ul
          each op in hasVoted ? poll.options.sort((a, b) => b.votes - a.votes) : poll.options
            - const totalVotes = poll.options.reduce((sum, option) => sum + option.votes, 0)
            - const percentage = totalVotes > 0 ? (op.votes / totalVotes) * 100 : 0
            .poll-option
              if String(poll.createdBy._id) != String(user._id) && poll.active && !hasVoted
                .div(style='display: flex; align-items: center;')
                  if String(poll.createdBy._id) != String(user._id) && !hasVoted && poll.active
                    input(type='radio', name='selectedOption', value=op._id, id=op._id)
                  if hasVoted
                    if String(op._id) == String(existingVote.selectedOption)
                      label(for=op._id)
                        b=  op.optionText
                    else
                      label(for=op._id)=  op.optionText
                  else
                    label(for=op._id)=  op.optionText
                  if String(poll.createdBy._id) == String(user._id) || !poll.active || hasVoted
                    span.poll-votes #{op.votes} votes
                    .progress-bar
                      .progress-bar-fill(style=`width: ${percentage}%`)= percentage.toFixed(1) + '%'
              else
                if String(poll.createdBy._id) != String(user._id) && !hasVoted && poll.active
                  input(type='radio', name='selectedOption', value=op._id, id=op._id)
                if hasVoted
                  if String(op._id) == String(existingVote.selectedOption)
                    label(for=op._id)
                      b=  op.optionText
                  else
                    label(for=op._id)=  op.optionText
                else
                  label(for=op._id)=  op.optionText
                span.poll-votes #{op.votes} votes
                .progress-bar
                  .progress-bar-fill(style=`width: ${percentage}%`)= percentage.toFixed(1) + '%'

      br
      if user
        if String(poll.createdBy._id) == String(user._id)
          .div.gap-2.d-grid.d-md-flex
            if poll.active
              a.btn.btn-dark(href='/poll/id/' + poll._id + '/close') Close
            else
              a.btn.btn-dark.disabled(href='/poll/id/' + poll._id + '/close') Closed
            a.btn.btn-danger(href='/poll/id/' + poll._id + '/delete') Delete
        else
          if !hasVoted
            if poll.active
              input(type='hidden', name='_csrf', value=_csrf)
              input.btn.btn-primary(type='submit', value='Vote')
          else
            input.btn.btn-primary.disabled(type='submit', value='Voted')
  br
  if String(poll.createdBy._id) == String(user._id)
    if votes.length > 0
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Email
            th Poll Question
            th Option
            th Voted At
        tbody
          each vote in votes
            tr
              td= vote.voter.profile.name
              td= vote.voter.email
              td= vote.poll.question
              td= vote.selectedOption
              td= vote.voted_at.toLocaleDateString(undefined, {day: 'numeric',month: 'short',year: 'numeric',})
    else
      h3 No votes yet