extends ../layout

block content
  head
  title Polls List
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    h1 {
    text-align: center;
    margin-top: 30px;
    }
    .polls-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .poll-item {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    }
    .poll-item:hover {
    border-color: #007bff;
    }
    .poll-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    .poll-options {
    font-size: 16px;
    }
    .poll-created-by {
    font-size: 14px;
    color: #666666;
    }
  .row
    .col
      h1= title
    .col
      h1
        a.btn.btn-outline-primary(href='/poll/new')
          | Create Poll
  .polls-container
    each poll in polls.sort(poll => poll.active ? -1 : 1)
      .poll-item
        p.poll-question= poll.question
        p.poll-options Options: <b>#{poll.options.map((option) => option.optionText).join(', ')}</b>
        p.poll-created-by Created by: #{poll.createdBy.profile.name}
        .row
          .col-2
            p.poll-created-by Total Votes: #{poll.options.reduce((sum, option) => sum + option.votes, 0)}
          .col
            p.poll-created-by Status: #{poll.active ? 'Active' : 'Closed'}
        a.btn.btn-primary(href='/poll/id/' + poll._id) View Poll

